@charset "UTF-8";

.icon {
    display: inline-block;
    height: 1em;
    width: 1em;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: center;
    -webkit-mask-position: center;
}
.icon-arrow{
    mask-image: url(iconArrow.svg);
    -webkit-mask-image: url(iconArrow.svg);
}

.icon-star{
    mask-image: url(star.svg);
    -webkit-mask-image: url(star.svg);
}
.arrow-right{
    mask-image: url(arrowRight.svg);
    -webkit-mask-image: url(arrowRight.svg);
}
.icon-arrowNavigate{
    mask-image: url(arrowNavigate.svg);
    -webkit-mask-image: url(arrowNavigate.svg);
}

