
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    opacity: 0;
    padding: 20px 0;
    transform: translateY(-40px);
    transition: all 0.8s ease;


}


.header.visible {
    opacity: 1;
    transform: translateY(0);
}

.header.animate-in {
    transform: translateY(0);
    opacity: 1;
}

header.moved {
    padding: 10px 0;
}


.header-body {
    padding: 8px;
    gap: 20px;
    transition: .3s;
    position: relative;
    z-index: 2;
    border-radius: 400px;
    background: var(--white);
    justify-content: space-between;
    border: 1px solid var(--white3);

}


.menu-bg {
    display: none;
}

.menu-list {
    gap: 40px;

}

.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;;
    transition: .5s;
    color: var(--black);
    position: relative;
}

.menu-cnt-mobile {
    display: none;
}
.menu-link::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: var(--primary);
    transition: 0.3s ease;
    transform: translateX(-50%);
}
.menu-link:hover::after {
    width: 100%;
}

.header-logo {
    margin-left: 16px;
}

.header-actions {
    gap: 12px;
}

.btn-login {
    padding: 12px 28px;
    background: var(--black);
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--white);
    transition: .5s;

}


.btn-login:hover {
    background: var(--primary);

}


.btn-register {
    background: var(--primary);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: var(--white);
    border-radius: 200px;
    padding: 12px 28px;
    transition: .5s;


}


.btn-register:hover {
    background: var(--black);

}


.header-mobile-actions {
    display: none;
}


.burger {
    display: none;
}

.menu-mobile-decor{
    display: none;
}
@media (max-width: 1400px) {
}

@media (max-width: 1200px) {

    .menu {
        margin-left: 0;
    }

    .header-body {
        position: static;
        gap: 10px;
    }

    .menu-list {
        gap: 10px;
    }

}

@media (max-width: 992px) {
    .burger.active {
        position: relative;
        transition: .3s;
        z-index: 3;
    }


    .menu-list {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
        border-radius: 20px;
        padding: 20px;
        position: relative;
        background: var(--white);
        z-index: 2;

    }


    .header-body::after {
        display: none;
    }

    .menu-link {
        text-align: center;

    }

    .menu-bg {
        backdrop-filter: blur(20px);
        --webkit-filter: blur(20px);
        background: #00000066;
        position: fixed;
        left: 0;
        top: -100%;
        width: 100%;
        height: 0;
        z-index: -1;
        transition: .5s;
        display: block;

    }

    .menu-bg.active {
        top: 0;
        height: 100vh;
    }

    .burger {
        flex: 0 0 48px;
        height: 48px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: var(--black);
        cursor: pointer;
        transition: .5s;
        z-index: 4;
        gap: 4.5px;
        border-radius: 50%;
    }

    .burger span {
        display: block;
        width: 20px;
        height: 1.5px;
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }



    .burger::after {
        display: block;
        width: 20px;
        height: 1.5px;
        content: '';
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }

    .burger::before {
        width: 20px;
        height: 1.5px;
        content: '';
        background: var(--white);
        transition: .3s;
        border-radius: 5px;

    }


    .burger.active span {
        opacity: 0;
        visibility: hidden;
    }

    .menu-content-mobile {
        display: block;
        padding: 80px 0 24px;
    }

    .burger.active::before {
        transform: rotate(-45deg);
        top: 6px;
        position: relative;
        background: var(--white);


    }


    .burger.active::after {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative;
        background: var(--white);

    }

    .menu-cnt-mobile {
        display: flex;
    }

    .menu {
        position: fixed;
        top: -800%;
        width: 100%;
        transition: .5s;
        z-index: 3;
        padding: 0 14px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        gap: 10px;
        left: 0;
        max-height: 80vh;
    }

    .menu-mobile-decor img{
        width: 100%;
        object-fit: cover;
        object-position: bottom;

    }

    .menu.active {
        top: 100px;
    }


}

@media (max-width: 768px) {

    .header-actions {
        display: none;
    }

    .header-mobile-actions {
        display: flex;
    }

    .header-mobile-actions .btn-register {
        margin-top: -38px;
        padding: 12px 28px 12px 28px;
    }

    .header-mobile-actions .btn-login {
        margin-top: 8px;
    }
}

@media (max-width: 576px) {

    .header-mobile-actions button {
        width: 100%;
    }

    .header-mobile-actions {
        width: 100%;
    }

    .header-logo {
        margin-left: 12px;
    }

    header {
        padding: 14px 0;
    }


    .header-decor::after {
        display: none;
    }

    .header-body {
        padding: 8px;
    }

    .menu.active {
        top: 88px;
    }
    .menu-mobile-decor{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: -1;
    }

}

@media (max-width: 400px) {

    .menu-mobile-decor img{

        object-position: 0;
    }
}